/* @media screen and (max-width: 600px) {
  .mobile-outlet {
    width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 520px) {
  .mobile-outlet {
    width: 400px;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .mobile-outlet {
    width: 350px;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .mobile-outlet {
    width: 350px;
    margin: auto;
  }
}

@media screen and (max-width: 360px) {
  .mobile-outlet {
    width: 300px;
    margin: auto;
  }
} */
