.login-card {
  width: 450px !important;
  border-radius: 15px !important;
}

@media screen and (max-width: 500px) {
  .login-card {
    width: 350px !important;
  }
}

.OtpInputBox>input {
  border-radius: 10px;
  border: 1px solid black;
  height: 45px !important;
  width: 45px !important;
  outline: none;
}